$silver: #D3D3D3;
$white: #FFFFFF;
$black: #000000;

@mixin button-style {
  font-size: 20px;
  font-family: serif;
  border-radius: 3px;
  font-weight: bold;
}

@mixin text-shadow {
  text-shadow: $black 0 0 3px;
}

@mixin color-button {
  @include button-style;
  @include text-shadow;  
  padding: 5px 10px;
  box-shadow:
   0 1px rgba(255,255,255,.2) inset,
   0 3px 5px rgba(0,1,6,.5),
   0 0 1px 1px rgba(0,1,6,.2);
  margin: 10px;
  width: 130px;
  height: 20px;
  text-align: center;
  cursor: pointer;
}

@mixin title {
  color: $black;
  font-size: 48px;
  font-weight: bold;
}