@import '../../common/variables.scss';

.home {
  background-image: url("../../../assets/background.png");
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.home__aglinet {
  @include title;
  text-align: center;
}

.home__img {
  width: 70%;
  height: auto;
}